<p id="notice"><%= notice %></p>

<h1>Multiplier</h1>
<% if @users %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.multiplier %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>


<br>
<% if @users.empty? %>
<%= link_to 'New Customer Points Multiplier', new_user_path %> |
<% end %>
<%= link_to 'Home', root_path %>